@model IEnumerable<Transactions>
@{
    ViewData["Title"] = "index";
}
<div class="container p-3">
   <div class="row pt-4">
       <div class="col-6">
           <h2 class="text-primary">Transfers History </h2>
       </div>
       <div class="col-6 text-end">
           <a asp-controller="BankSystem" asp-action="Transfer" class="btn btn-outline-primary">
               <i class="bi bi-plus-circle"></i>&nbsp;  Create New Transacation 
           </a>

       </div> 

   </div>
   <br /> 

</div>
<table class="table table-hover" style="width:100%">
    <thead class="bg-primary text-light"  >
        <tr>
            <th>
                 Sender 
            </th>
             <th>
                  Recevier
            </th>
            <th>
                  Transfered Amount 
            </th>
            <th>
                    Operation State 
            </th>
             <th>
                    Date 
            </th>
 
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%" class="text-primary">
                    @obj.Sender
                </td>
                 <td width="0%" class="text-primary">
                    @obj.Recevier
                </td>
                 <td width="0%" class="text-primary">
                    @obj.TransferAmount
                </td>
                <td width="0%" class="text-primary">
                    @obj.OperationState
                </td>
                <td width="0%" class="text-primary">
                    @obj.Date
                </td>
              
                
            </tr>
            
        }
    </tbody>

</table>